         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content avenue-body">
              <div class="modal-header avenue-heading">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ modalHeader }}</h4>
              </div>
              <div class="modal-body">
              
              	<!-- FORM START -->
                 <form name="addUserForm" novalidate role="form">
                 <span class="avenue-yellow-text">Personal Details:</span>
                 	
                 	<!-- Name & Password -->
                 	<div class="row a-modal-row">
                 		<div class="col-md-4">
                 			<label for="name">Name:</label>
		                	<input type="text" class="form-control" id="name" name="name" data-ng-model="newUser.name" value="{{newUser.name}}" required/>
		                	<div ng-show="addUserForm.$submitted || addUserForm.name.$touched">
						    	<div ng-show="addUserForm.name.$error.required" style="color:red">You must enter the users name.</div>
						    </div>
                 		</div>     
                 		<div class="col-md-4">
                 			<label for="password">Password:</label>
		                	<input type="password" class="form-control" id="password" name="password" data-ng-model="newUser.password" value="{{newUser.password}}" required/>
		                	<div ng-show="addUserForm.$submitted || addUserForm.password.$touched">
						    	<div ng-show="addUserForm.password.$error.required" style="color:red">You must supply a password.</div>
						    </div>
                 		</div>
                 	</div> <!-- End row -->
                 	
                 	<!-- DOB & email -->
					<div class="row a-modal-row">
		                <div class="col-md-4" ng-contoller="DatePickerController">
		                	<label for="dob">Date of Birth:</label>
		                	<input type="text" class="form-control" id="dob" data-ng-model="newUser.dob" value="{{newUser.dob}}"/>
		                	<!-- <p class="input-group">
				              <input type="date" class="form-control" datepicker-popup ng-model="newUser.dob" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="{{dateOptions}}" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				            </p> -->
		               	</div> <!-- end col -->
		            	<div class="col-md-4">
		            		<label for="email">email:</label>
		                	<input type="text" class="form-control" id="email" data-ng-model="newUser.email" value="{{newUser.email}}"/>
		            	</div>     
                 	</div> <!-- end row -->
                 	
                 	<!-- Address -->
                	<div class="row a-modal-row">
                		<div class="col-md-8">
		                	<label for="address">Address:</label>
		                	<input type="text" class="form-control" id="address" data-ng-model="newUser.address" value="{{newUser.address}}"/>
                		</div>
                	</div> <!-- end row -->
                	
                	<!-- Phone & Avatar -->
                	<div class="row a-modal-row">
                		<div class="col-md-3">
                			<label for="phone">Phone:</label>
		                	<input type="text" class="form-control" id="phone" data-ng-model="newUser.phone" value="{{newUser.phone}}"/>
		                </div> <!-- end col -->
		                <div class="col-md-3">
		                	<label for="favteam">Avatar:</label>
		                	<input type="text" class="form-control" id="avatar" data-ng-model="newUser.avatar" value="{{newUser.avatar}}"/>
		                </div> <!-- end col -->
		            </div><!-- end row -->
		            
		            <!-- Roles -->
		            <div class="row a-modal-row">
		                <label for="roles">Roles/Permissions</label>
		            </div>
		            <div class="row a-modal-row">
		            	<div class="col-md-4">
		            		<div class="row">
		            			<div class="col-md-3">
		            				<label>Super</label>
		            			</div> <!-- end col -->
		            			<div class="col-md-1">
		            				<input type="checkbox" ng-model="newUser.super" name="roles" id="roles">
		            			</div> <!-- end col -->
		            		</div><!-- end row -->
		            		<div class="row">
		            			<div class="col-md-3">
		            				<label>Admin</label>
		            			</div> <!-- end col -->
		            			<div class="col-md-1">
		            				<input type="checkbox" ng-model="newUser.admin">
		            			</div> <!-- end col -->
		            		</div><!-- end row -->
		            	</div> <!-- end col -->
		            	
		            	<div class="col-md-5">
		            		<div class="row">
		            			<div class="col-md-3">
		            				<label>Manager</label>
		            			</div> <!-- end col -->
		            			<div class="col-md-1">
		            				<input type="checkbox" ng-model="newUser.manager">
		            			</div> <!-- end col -->
		            		</div><!-- end row -->
		            		<div class="row">
		            			<div class="col-md-3">
		            				<label>User</label>
		            			</div> <!-- end col -->
		            			<div class="col-md-1">
		            				<input type="checkbox" ng-model="newUser.user">
		            			</div> <!-- end col -->
		            		</div><!-- end row -->
		            	</div> <!-- end col -->
		            </div><!-- end row -->		            

                </form>
                <!-- FORM END -->  
                              
<!-- <pre>{{ newUser | json }}</pre> -->
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('save', newUser)" class="btn btn-success" data-dismiss="modal">Save</button>
                <button type="button" ng-click="close('cancel', newUser)" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>

    