         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content avenue-body">
              <div class="modal-header avenue-heading">
              	<button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Team</h4>
              </div>
              <div class="modal-body">
                <form name="editTeamForm" novalidate role="form">
                	<div class="row">
                		<div class="col-md-9">
		                	<label for="name">Team Name:</label>
		                	<input type="text" class="form-control" id="name" name="name" data-ng-model="thisTeam.name" value="{{thisTeam.name}}" required/>
		                	<div ng-show="editTeamForm.$submitted || editTeamForm.name.$touched">
						      <div ng-show="editTeamForm.name.$error.required" style="color:red">You must enter the name of the team.</div>
						      <div ng-show="editTeamForm.name.$error.minlength" style="color:red">You must enter the name of the team.</div>
						      <div ng-show="editTeamForm.name.$error.maxlength" style="color:red">You've exceeded the maximum length for a team name of 30.</div>
						    </div>
		                	<label for="lrcode">League Republic Code:</label>
		                	<input type="text" integer class="form-control" id="lrcode" name="lrcode" data-ng-model="thisTeam.lrcode" value="{{thisTeam.lrcode}}"/>
		                	<div ng-show="editTeamForm.$submitted || editTeamForm.lrcode.$touched">
						      <div ng-show="editTeamForm.lrcode.$invalid" style="color:red">The value is not a valid integer!</div>
						    </div>
                		</div>
                	</div> <!-- end row -->
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close(true)" class="btn btn-default" data-dismiss="modal">Save</button>
                <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">Cancel</button>

              </div>
            </div>
          </div>
        </div>
    