         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content avenue-body">
              <div class="modal-header avenue-heading">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ modalHeader }} Club Member</h4>
              </div>
              <div class="modal-body">

				<span class="avenue-yellow-text">Personal Details:</span>
				
					<form nvalidate="novalidate">
							
						<div class="row a-modal-row">
							
							<!-- NAME -->	
							<div class="col-md-5">
								<div class="form-group">
									<label for="name">Name:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.name"
											id="name"
											required="required"
											placeholder="Enter member name" >
								</div>
							</div> <!-- end col -->
							
							<!-- DOB -->	
							<div class="col-md-3">
								<div class="form-group">
									<label for="dob">Date of Birth:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.dob"
											id="dob"
											required="required"
											placeholder="Enter dob" >
								</div>
							</div> <!-- end col -->
							
							<!-- DOB -->	
							<div class="col-md-4">
								<div class="form-group">
									<label for="email">email:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.email"
											id="emaiil"
											required="required"
											placeholder="Enter email" >
								</div>
							</div> <!-- end col -->
							
						</div> <!-- end row -->
						
						<div class="row a-modal-row">
							
							<!-- Address -->	
							<div class="col-md-12">
								<div class="form-group">
									<label for="address">Address:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.address"
											id="address"
											required="required"
											placeholder="Enter member address" >
								</div>
							</div> <!-- end col -->
							
						</div> <!-- end row -->
						
						<div class="row a-modal-row">
							
							<!-- Phone -->	
							<div class="col-md-3">
								<div class="form-group">
									<label for="phone">Phone:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.phone"
											id="phone"
											required="required"
											placeholder="Enter phone" >
								</div>
							</div> <!-- end col -->
							
							<!-- Phone2 -->	
							<div class="col-md-3">
								<div class="form-group">
									<label for="phone2">Phone2:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.phone2"
											id="phone2"
											required="required"
											placeholder="Enter phone" >
								</div>
							</div> <!-- end col -->
							
							<!-- Favourite Team -->	
							<div class="col-md-3">
								<div class="form-group">
									<label for="favteam">Favourite Team:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.favteam"
											id="favteam"
											required="required"
											placeholder="Enter team" >
								</div>
							</div> <!-- end col -->
							
							<!-- Favourite Player -->	
							<div class="col-md-3">
								<div class="form-group">
									<label for="favplayer">Favourite Player:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.favplayer"
											id="favplayer"
											required="required"
											placeholder="Enter player" >
								</div>
							</div> <!-- end col -->
							
						</div> <!-- end row -->
						
						<div class="row a-modal-row">
							
							<!-- Photo -->	
							<div class="col-md-7">
								<div class="form-group">
									<label for="photo">Avatar:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.photo"
											id="photo"
											required="required"
											placeholder="Enter photo location" >
								</div>
							</div> <!-- end col -->
							
						</div> <!-- end row -->
						
						<div class="row a-modal-row">
							
							<!-- Photo -->	
							<div class="col-md-12">
								<div class="form-group">
									<label for="achievements">Personal Achievements:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.achievements"
											id="achievements"
											required="required"
											placeholder="Enter list of member achievements" >
								</div>
							</div> <!-- end col -->
							
						</div> <!-- end row -->
						
						<br><span class="avenue-yellow-text">Account Details:</span>
						
						<div class="row a-modal-row">
							
							<!-- Account ID -->	
							<div class="col-md-3">
								<div class="form-group">
									<label for="receiptid">Account Id:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.receiptid"
											id="receiptid"
											required="required"
											placeholder="Enter id" >
								</div>
							</div> <!-- end col -->
							<!-- Paid -->	
							<div class="col-md-2">
								<div class="form-group">
									<label for="amount">Paid:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.amount"
											id="amount"
											required="required"
											placeholder="€paid" >
								</div>
							</div> <!-- end col -->
							<!-- Account Expiry date -->	
							<div class="col-md-4">
								<div class="form-group">
									<label for="expiry">Expiry:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.expiry"
											id="expiry"
											required="required"
											placeholder="Expiry Date" >
								</div>
							</div> <!-- end col -->
							<!-- Clare League player id -->	
							<div class="col-md-2">
								<div class="form-group">
									<label for="lid">Lg Id:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.lid"
											id="lid"
											required="required"
											placeholder="Id" >
								</div>
							</div> <!-- end col -->
							
						</div> <!-- end row -->
						
						<br><span class="avenue-yellow-text">Team Details:</span>
						
						<div class="row a-modal-row">
							
							<!-- Team 1 -->	
							<div class="col-md-3">
								<div class="form-group">
									<label for="team">Team 1:</label>
									<select class="form-control" 
											id="team" 
											data-ng-model="data.dsCurrentMember.team" 
											value="{{data.dsCurrentMember.team}}" >
				                		<option ng-repeat="team in data.dsTeams track by $index">{{team.name}}</option>
									</select>
								</div>
							</div> <!-- end col -->
							
							<!-- Position -->	
							<div class="col-md-3">
								<div class="form-group">
									<label for="position">Position:</label>
									<select class="form-control" 
											id="position" 
											data-ng-model="data.dsCurrentMember.position" 
											value="{{data.dsCurrentMember.position}}" >
				                		<option ng-repeat="opt in data.dsPosition track by $index">{{opt}}</option>
									</select>
								</div>
							</div> <!-- end col -->
							
							<!-- Appearences -->	
							<div class="col-md-2">
								<div class="form-group">
									<label for="position">Appears:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.sappears"
											id="sappears"
											required="required"
											placeholder="Appearences" >
								</div>
							</div> <!-- end col -->
							
							<!-- Assists -->	
							<div class="col-md-2">
								<div class="form-group">
									<label for="position">Assists:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.sassists"
											id="sassists"
											required="required"
											placeholder="Assists" >
								</div>
							</div> <!-- end col -->
							
							<!-- Goals Scored -->	
							<div class="col-md-2">
								<div class="form-group">
									<label for="position">Goals:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.sgoals"
											id="sgoals"
											required="required"
											placeholder="Goals" >
								</div>
							</div> <!-- end col -->
							
						</div> <!-- end row -->
						
						<div class="row a-modal-row">
							
							<!-- Team 2 -->	
							<div class="col-md-3">
								<div class="form-group">
									<label for="team2">Team 2:</label>
									<select class="form-control" 
											id="team2" 
											data-ng-model="data.dsCurrentMember.team2" 
											value="{{data.dsCurrentMember.team2}}" >
				                		<option ng-repeat="team in data.dsTeams track by $index">{{team.name}}</option>
									</select>
								</div>
							</div> <!-- end col -->
							
							<!-- Position -->	
							<div class="col-md-3">
								<div class="form-group">
									<label for="position2">Position:</label>
									<select class="form-control" 
											id="position2" 
											data-ng-model="data.dsCurrentMember.position2" 
											value="{{data.dsCurrentMember.position2}}" >
				                		<option ng-repeat="opt in data.dsPosition track by $index">{{opt}}</option>
									</select>
								</div>
							</div> <!-- end col -->
							
							<!-- Appearences -->	
							<div class="col-md-2">
								<div class="form-group">
									<label for="sappears2">Appears:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.sappears2"
											id="sappears2"
											required="required"
											placeholder="Appearences" >
								</div>
							</div> <!-- end col -->
							
							<!-- Assists -->	
							<div class="col-md-2">
								<div class="form-group">
									<label for="sassists2">Assists:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.sassists2"
											id="sassists2"
											required="required"
											placeholder="Assists" >
								</div>
							</div> <!-- end col -->
							
							<!-- Goals Scored -->	
							<div class="col-md-2">
								<div class="form-group">
									<label for="sgoals2">Goals:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.sgoals2"
											id="sgoals2"
											required="required"
											placeholder="Goals" >
								</div>
							</div> <!-- end col -->
							
						</div> <!-- end row -->
						
						<div class="row a-modal-row">
							
							<!-- Team 3 -->	
							<div class="col-md-3">
								<div class="form-group">
									<label for="team3">Team 3:</label>
									<select class="form-control" 
											id="team3" 
											data-ng-model="data.dsCurrentMember.team3" 
											value="{{data.dsCurrentMember.team3}}" >
				                		<option ng-repeat="team in data.dsTeams track by $index">{{team.name}}</option>
									</select>
								</div>
							</div> <!-- end col -->
							
							<!-- Position -->	
							<div class="col-md-3">
								<div class="form-group">
									<label for="position3">Position:</label>
									<select class="form-control" 
											id="position3" 
											data-ng-model="data.dsCurrentMember.position3" 
											value="{{data.dsCurrentMember.position3}}" >
				                		<option ng-repeat="opt in data.dsPosition track by $index">{{opt}}</option>
									</select>
								</div>
							</div> <!-- end col -->
							
							<!-- Appearences -->	
							<div class="col-md-2">
								<div class="form-group">
									<label for="sappears3">Appears:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.sappears3"
											id="sappears3"
											required="required"
											placeholder="Appearences" >
								</div>
							</div> <!-- end col -->
							
							<!-- Assists -->	
							<div class="col-md-2">
								<div class="form-group">
									<label for="sassists3">Assists:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.sassists3"
											id="sassists3"
											required="required"
											placeholder="Assists" >
								</div>
							</div> <!-- end col -->
							
							<!-- Goals Scored -->	
							<div class="col-md-2">
								<div class="form-group">
									<label for="sgoals3">Goals:</label>
									<input 	type="text"
											class="form-control"
											ng-model="data.dsCurrentMember.sgoals3"
											id="sgoals3"
											required="required"
											placeholder="Goals" >
								</div>
							</div> <!-- end col -->
							
						</div> <!-- end row -->
							
              		</form>                               

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('save', data.dsCurrentMember)" class="btn btn-success" data-dismiss="modal">Save</button>
                <button type="button" ng-click="close('cancel', data.dsCurrentMember)" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
    