         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content avenue-body">
              <div class="modal-header avenue-heading">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">XXX Club Member</h4>
              </div>
              <div class="modal-body">
                 <form name="editMemberForm" novalidate role="form">
                 <span class="avenue-yellow-text">Personal Details:</span>
                 	<div class="row a-modal-row">
                 		<div class="col-md-4">
                 			<label for="name">Name:</label>
		                	<input type="text" class="form-control" id="name" name="name" data-ng-model="thisMember.name" value="{{thisMember.name}}" required/>
		                	<div ng-show="editMemberForm.$submitted || editMemberForm.name.$touched">
						    	<div ng-show="editMemberForm.name.$error.required" style="color:red">You must enter the members name.</div>
						    </div>
                 		</div>
		                	<!-- <input type="text" class="form-control" id="dob" data-ng-model="thisMember.dob" value="{{thisMember.dob}}"/> -->
		                <div class="col-md-4" ng-contoller="DatePickerController">
		                	<label for="dob">Date of Birth:</label>
		                	<p class="input-group">
				              <input type="date" class="form-control" datepicker-popup ng-model="thisMember.dob" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				            </p>
		               	</div> <!-- end col -->
		            	<div class="col-md-4">
		            		<label for="email">email:</label>
		                	<input type="text" class="form-control" id="email" data-ng-model="thisMember.email" value="{{thisMember.email}}"/>
		            	</div>     
                 	</div>
                	<div class="row a-modal-row">
                		<div class="col-md-9">
		                	<label for="address">Address:</label>
		                	<input type="text" class="form-control" id="address" data-ng-model="thisMember.address" value="{{thisMember.address}}"/>
                		</div>
                		<div class="col-md-3">
		                	
                		</div> <!-- end col -->
                	</div> <!-- end row -->
                	<div class="row a-modal-row">
                		<div class="col-md-3">
                			<label for="phone">Phone:</label>
		                	<input type="text" class="form-control" id="phone" data-ng-model="thisMember.phone" value="{{thisMember.phone}}"/>
		                </div> <!-- end col -->
		                <div class="col-md-3">
                			<label for="phone">Phone2:</label>
		                	<input type="text" class="form-control" id="phone2" data-ng-model="thisMember.phone2" value="{{thisMember.phone2}}"/>
		                </div> <!-- end col -->
		                <div class="col-md-3">
		                	<label for="favteam">Favourite Team:</label>
		                	<input type="text" class="form-control" id="favteam" data-ng-model="thisMember.favteam" value="{{thisMember.favteam}}"/>
		                </div> <!-- end col -->
		                <div class="col-md-3">
		                	<label for="favplayer">Favourite Player:</label>
		                	<input type="text" class="form-control" id="favplayer" data-ng-model="thisMember.favplayer" value="{{thisMember.favplayer}}"/>
		                </div> <!-- end col -->             	
                	</div> <!-- end row -->
                	                	<div class="row a-modal-row">
						<div class="col-md-4"><label for="photo" style="float:right;">Photo Location:</label></div>
                		<div class="col-md-8">
		                	<input type="text" class="form-control" id="photo" data-ng-model="thisMember.photo" value="{{thisMember.photo}}"/>
                		</div>
                	</div>
                	<div class="row a-modal-row">
                		<div class="col-md-4"><label for="achievements" style="float:right;">Personal Achievements:</label></div>
                		<div class="col-md-8">
                			<input type="text" class="form-control" id="achievements" data-ng-model="thisMember.achievements" value="{{thisMember.achievements}}"/>
                		</div>
                	</div>
                	<br><span class="avenue-yellow-text">Account Details:</span>
                	<div class="row a-modal-row">
                		<div class="col-md-3">
                			<label for="fees">Account Id:</label>
		                	<input type="text" class="form-control" id="receiptid" data-ng-model="thisMember.receiptid" value="{{thisMember.receiptid}}"/>
                		</div> <!-- end col --> 
                		<div class="col-md-2">
                			<label for="fees">Paid:</label>
		                	<input type="text" class="form-control" id="amount" data-ng-model="thisMember.amount" value="{{thisMember.amount}}"/>
		               	</div> <!-- end col -->
		               	<div class="col-md-4" ng-contoller="DatePickerController">
		               		<label for="fees">Expiry:</label>
		                	<!-- <input type="text" class="form-control" id="amount" data-ng-model="thisMember.expiry" value="{{thisMember.expiry}}"/> -->
		                	<p class="input-group">
				              <input type="date" class="form-control" datepicker-popup ng-model="thisMember.expiry" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				            </p>
		               	</div> <!-- end col --> 
		                <div class="col-md-2">
		                	<label for="lid">Lg Id:</label>
		                	<input type="text" class="form-control" id="lid" data-ng-model="thisMember.lid" value="{{thisMember.lid}}"/>
                		</div> <!-- end col --> 
                	</div> <!-- end row -->
                	<br><span class="avenue-yellow-text">Team Details:</span>
                	<div class="row a-modal-row">
                		<div class="col-md-3">
                			<label for="team">Team:</label>
		                	<select class="form-control" id="team" data-ng-model="thisMember.team" value="{{thisMember.team}}">
		                		<option ng-repeat="team in teams track by $index">{{team.name}}</option>
							</select>
                		</div>
                		<div class="col-md-3">
		                	<label for="position">Position:</label>
		                	<select class="form-control" id="position" data-ng-model="thisMember.position" value="{{thisMember.position}}">
		                		<option ng-repeat="opt in itsPosition track by $index">{{opt}}</option>
							</select>
                		</div>
                		<div class="col-md-2">
                			<label for="sappears">Appears:</label>
		                	<input type="text" class="form-control" id="sappears" data-ng-model="thisMember.sappears" value="{{thisMember.sappears}}"/>
		                </div> <!-- end col --> 
		                <div class="col-md-2">
		                	<label for="sassists">Assists:</label>
		                	<input type="text" class="form-control" id="sassists" data-ng-model="thisMember.sassists" value="{{thisMember.sassists}}"/>
		                </div> <!-- end col --> 
		                <div class="col-md-2">
		                	<label for="sgoals">Goals:</label>
		                	<input type="text" class="form-control" id="sgoals" data-ng-model="thisMember.sgoals" value="{{thisMember.sgoals}}"/>
                		</div> <!-- end col --> 
                	</div> <!-- end row -->
                </form>                

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('save', thisMember)" class="btn btn-success" data-dismiss="modal">Save</button>
                <button type="button" ng-click="close('cancel', thisMember)" class="btn btn-danger" data-dismiss="modal">Cancel</button>

              </div>
            </div>
          </div>
        </div>
    