<div class="btn-group-vertical">
    <a (click)="academyHome()" class="btn btn-primary academymenu"><i class="fa fa-home"></i> Home</a>
    <a (click)="academyOverview()" class="btn btn-primary academymenu">Overview</a>
    <a (click)="academyCoaches()" class="btn btn-primary academymenu">Coaches</a>
    <a (click)="academySchedule()" class="btn btn-primary academymenu">Schedule</a>
    <a (click)="academyRegistration()" class="btn btn-primary academymenu">Registration</a>
    <a (click)="academyPhotos()" class="btn btn-primary academymenu">Photos</a>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle academymenu" data-toggle="dropdown">
            FAQ <span class="caret"></span></button>
        <ul class="dropdown-menu academymenu" role="menu">
            <li><a href="#">Season</a></li>
            <li><a href="#">Fees</a></li>
        </ul>
    </div>
</div>