
    <div class="row avenue-body">
        <div class="panel">
            <div class="panel-heading avenue-heading">
                Latest News:
            </div>
            <carousel [interval]="5000" style="float:left;width:100%;height:auto;">
                <slide *ngFor="let story of _dataService.dsNewsStories">
                    <img src="{{story.image}}" style="float:left;padding-left:100px;padding-top:40px;padding-right:5px;padding-bottom:40px;max-width:40%;"/>
                    <div style="float:left;width:50%;">
                        <div class="avenue-heading" style="font-weight:bold;font-size:20px;border-right:solid 1px white;border-left:solid 1px white;">{{story.title}}</div>
                        <div class="avenue-heading" style="border-bottom:solid 1px white;border-right:solid 1px white;border-left:solid 1px white;">{{story.description}}</div>
                        <p style="padding-bottom:20px;padding-top:10px;">{{story.story}}</p><br/>
                    </div>
                </slide>
            </carousel>

        </div> <!-- end panel -->
    </div> <!-- end row -->