html,
body
{
	Root is resources/app/styles
	background-image: url("../../images/stadium1.jpg");
	background-repeat:no-repeat;
    background-size:cover;
	background-position: center;
	background-attachment:fixed;
	height:100%;
}

#footer {
  height: 30px;
  background-color: #ff0000;
  vertical-align: middle;
}

.avenue-yellow-text{
	color:#FAE900;
}

.a-orange-text {color:#FAE900;}
.avenue-heading { background-color:#D90404;color:#FAE900;min-height:40px; }
.avenue-body { background-color:#303030;color:white; }
.a-adminMenu { position:fixed;}
.a-modal-row{ margin-top:4px; };

.a-panel-heading
{
	background-color:#D90404;color:#FAE900;
}
.a-panel-body
{
	background-color:#303030;
	color:white;
	height:100%;
}
.academyflag
{
	background-image: url('../images/academy/flag.gif');
	background-size: cover;
	height:226px;
	width:318px;
	position:relative;
	margin-top:0px;
	float:left;
}

.flagpole
{
	background-image: url('../images/academy/flagpole.png');
	background-size: cover;
	position:relative;
	margin-top:0px;
	float:left;
}

.academymenu{
	background-color:#D90404;
	color:#FFFF33;
	width:200px;
	text-align:left;
}

.academymenu a:link,
.academymenu a:visited,
.academymenu a:active {
	text-decoration: none;
	color:#FFFF33;
}

.academymenu a:hover {
	color:#D90404;
}

.btn:hover,
.btn:focus {
  background-color:#FFFF33;
  color:#D90404;
  font-weight:bold;
  text-decoration: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color:#FFFF33;
  color:#D90404;
  border-color: #adadad;
}

.light-line { border-bottom: dotted 1px;}
.solid-line { border-bottom: solid 1px; padding-bottom:2px; }

.loginbox {
	position:relative;
	margin-right:auto;
	margin-left:auto;
	width: 400px;
}

.loginbox .loginhead {
/* 	background: url(../images/User-icon.png)no-repeat 10px 10px #D90404; */
	background: #D90404;
	height:40px;
	outline: none;
	color:#FFFF33;
	min-height:30px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	font-size:20px;
}
.loginbox .loginbody {
	padding: 10px 0px 0px 0px;
	background: #2E2E2E;
	padding: 37.5px 35px 30px 35px;
	color:white;
}

.loginbox .loginbody input[type="text"] {
    background: no-repeat 10px 10px #3B3B3B;
	outline: none;
	font-size: 14px;
	font-weight: 600;
	color: #7E7E7E;
	padding: 12px 12px 12px 33px;
	border: 1px solid #4B4A4A;
	margin: 0px 0px 15px 0px;
	width: 100%;
	height: auto;
	-webkit-appearance: none;
}

.loginbox .loginbody input[type="password"]{
    background: no-repeat 10px 11px #3F3F3F;
	outline: none;
	font-size: 14px;
	font-weight: 600;
	color: #7E7E7E;
	padding: 12px 12px 12px 33px;
	border: 1px solid #4B4A4A;
	margin: 0px 0px 25px 0px;
	width: 100%;
	-webkit-appearance: none;
}

.loginbox .loginbody input[type="submit"] {
  background: no-repeat 9px 8px #D90404;
  color: #FAE900;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 19px 8px 30px;
  width: 40%;
  border: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
  cursor: pointer;
}

.a-form input.ng-invalid.ng-touched
{
	background-color: #FA787E;
}

.a-form input.ng-valid.ng-touched 
{
    background-color: #78FA89;
}

/* ****************
 * Merchandising
 * ***************/
 .merchandise-banner{
 	width: 100%;
 	height: 40px;
 	background-color: #FAE900;
 	color: #FFFFFF;
 	font-weight: bold;
 	font-size: 20px;
 	text-align: center;
 }
 
 .merchandise-background{
 	background-color: #FFFFFF;
 	min-height: 300px;
 }
 
 .merchandise-image{
 	position:relative;
 	margin-top: 20px;
 	margin-bottom: 0;
 	margin-left: auto;
 	margin-right: auto;
 }

/***************
 * Date picker *
 ***************/
.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

/****************************
 * Multi-level drop-down menu
 ****************************/
 .dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}