<div class="panel">
	<div class="panel-heading avenue-heading">
		Step 1: Preferred Dates
		<button type="button" class="btn btn-warning btn-xs"(click)="submit()" style="float:right">Next</button>
	</div>
	<div class="panel-body avenue-body">
		<div class="ui-g" style="color:white;">
		    <div class="ui-g-4">Arrival:</div>
		    <div class="ui-g-4">Departure:</div>
		    <div class="ui-g-4">Number of People:</div>
		</div>
		
		<div class="ui-g">
		    <div class="ui-g-4">
		    		<arrival-datepicker></arrival-datepicker>
		    </div>
		    <div class="ui-g-4">
		    	<departure-datepicker></departure-datepicker>
		    </div>
		    <div class="ui-g-4">
		    	<number-of-people></number-of-people>
		    </div>
		</div>	
	</div>
</div>
