		
					<div class="btn-group-vertical">
						<a href="adminHome" class="btn btn-primary academymenu" id="academyHome"><i class="fa fa-home"></i> Admin Home</a>
					    <a href="AdminOverview" class="btn btn-primary academymenu"><i class="fa fa-sun-o"></i> Overview</a>
					    <button type="button" class="btn btn-primary academymenu" onclick="window.location.href='AdminTutorials'"><i class="fa fa-book"></i> Tutorials</button>
					    <button type="button" class="btn btn-primary academymenu" onclick="window.location.href='MemberRegister'"><i class="fa fa-child"></i> Members</button>
					    <button type="button" class="btn btn-primary academymenu" onclick="window.location.href='ManageTeams'"><i class="fa fa-users"></i> Teams</button>
					    <button type="button" class="btn btn-primary academymenu" onclick="window.location.href='UploadNewsStory'"><i class="fa fa-newspaper-o"></i> News</button>		    
					    <button type="button" class="btn btn-primary academymenu"><i class="fa fa-camera"></i> Photos</button>
					    <div class="btn-group">
					      <button type="button" class="btn btn-primary dropdown-toggle academymenu" data-toggle="dropdown">
					      <i class="fa fa-futbol-o"></i> Your Team <span class="caret"></span></button>
					      <ul class="dropdown-menu academymenu" role="menu">
					        <li ng-if="hasPermission('MANAGE_TEAM', 'Junior A')"><a href="ManageTeamJA">Junior A</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'Junior B')"><a href="ManageTeamJB">Junior B</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'U18')"><a href="ManageTeamU18">U18</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'U17')"><a href="ManageTeamU17">U17</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'U16')"><a href="ManageTeamU16">U16</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'U15')"><a href="ManageTeamU15">U15A</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'U15B')"><a href="ManageTeamU15B">U15B</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'U14A')"><a href="ManageTeamU14">U14</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'U13 Red')"><a href="ManageTeamU13">U13 Red</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'U13 Yellow')"><a href="ManageTeamU13B">U13 Yellow</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'U12A')"><a href="ManageTeamU12">U12A</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'U12 Black')"><a href="ManageTeamU12B">U12 Black</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'U11 Red')"><a href="ManageTeamU11">U11 Red</a></li>
							<li ng-if="hasPermission('MANAGE_TEAM', 'U11 Yellow')"><a href="ManageTeamU11B">U11 Yellow</a></li>
					      </ul>
					    </div>
					    <div class="btn-group">
					    	<button type="button" class="btn btn-primary dropdown-toggle academymenu" data-toggle="dropdown">
					      		<i class="fa fa-user"></i> My Profile <span class="caret"></span>
					      	</button>
					      	<ul class="dropdown-menu academymenu" role="menu">
					        	<li><a href="MyProfile">Edit My Profile</a></li>
					        	<li><a href="ChangePassword">Password Change</a></li>
					        </ul>
					    </div>
					    <div class="btn-group">
					      <button type="button" class="btn btn-primary dropdown-toggle academymenu" data-toggle="dropdown">
					      <i class="fa fa-question-circle"></i> FAQ <span class="caret"></span></button>
					      <ul class="dropdown-menu academymenu" role="menu">
					        <li><a href="#">Season</a></li>
					        <li><a href="#">Fees</a></li>
					      </ul>
					    </div>
					  </div> <!-- end button group -->
					
		