	<div class="container">
		<div class="row avenue-body">
			<div class="panel">
				<div class="panel-heading avenue-heading">
					Latest News:
				</div>		
				<uib-carousel interval="5000" style="float:left;width:100%;height:auto;">
					<uib-slide ng-repeat="story in stories">
						<img ng-src="{{story.image}}" style="float:left;padding-left:100px;padding-top:40px;padding-right:5px;padding-bottom:40px;max-width:40%;"/>
							<div style="float:left;width:50%;">
								<div class="avenue-heading" style="font-weight:bold;font-size:20px;border-right:solid 1px white;border-left:solid 1px white;">{{story.title}}</div>
								<div class="avenue-heading" style="border-bottom:solid 1px white;border-right:solid 1px white;border-left:solid 1px white;">{{story.description}}</div>
								<p style="padding-bottom:20px;padding-top:10px;">{{story.story}}</p>
							</div>
					</uib-slide>
			    </uib-carousel>

			</div> <!-- end panel -->
		</div> <!-- end row -->

	<div class="panel" style="margin-top:5px;">
		<div class="panel-heading avenue-heading">
			Our Sponsors:
		</div>
		<div class="panel-body avenue-body" ng-controller="sponsorController">
			<uib-carousel interval="5000" style="float:left;width:100%;height:auto;">
				<uib-slide ng-repeat="sponsor in sponsors">
			      	<div style="position:relative;margin-left:auto;margin-right:auto">
			        	<img ng-src="{{sponsor.image}}" width="80%" height="150px"/>
			        </div>
				</uib-slide>
			</uibcarousel>
		</div> <!-- end panel-body -->
		<div class="panel-heading avenue-heading"></div>
	</div> <!-- end panel -->
</div> <!-- end of container -->