	<div id="wrap">
			<div class="container t1">
			    	<div class="row">
			    		<div class="col-md-5">
			    			<div class="panel">
				    			<div class="panel-heading avenue-heading">
				    				Team Details:
				    			</div>
				    			<div class="panel-body avenue-body">
				    				<table class="table table-condensed">
				    					<tr>
				    						<th>Managers:</th>
				    						<td>
					    						<div ng-repeat="mem in data.dsTeamMembers">
							    					<div ng-if="mem.position == 0">
							    						{{mem.name}}
							    						<div style="float:right;">
							    							<i class="fa fa-phone"></i> {{mem.phone}}
							    						</div> 
							    					</div>
							    					
							    				</div>
				    						</td>
				 						</tr>
				 						<tr>
				 							<th>Captian:</th>
				 							<td>
				 								<div ng-repeat="mem in data.dsTeamMembers">
							    					<div ng-if="mem.position == 99">{{mem.name}}</div>
							    				</div>
				 							</td>
				 						</tr>
				 					</table>
				    			</div>
				    		</div>
			    		</div> <!-- end col -->
			    		<div class="col-md-7" style="">
			    			<div class="panel">
				    			<div class="panel-heading avenue-heading">
				    				Table:
				    			</div>
				    			<div class="panel-body avenue-body">
				    			
				    				<lr-display></lr-display>

				    			</div>
				    		</div>
			    		</div> <!-- end col -->
			    	</div> <!-- end row -->
			    	
			    	<div class="row">
			    		<div class="col-md-5">
			    			<div class="panel">
				    			<div class="panel-heading avenue-heading">
				    				Squad Details:
				    			</div>
				    			<div class="panel-body avenue-body">
				    				<div ng-repeat="mem in data.dsTeamMembers">
				    					<div ng-if="mem.position != 0">
											<span ng-click="setCurrentMember(mem)" style="cursor:pointer;"><font color="white">{{$index+1}}: {{mem.name}}</font></span>
										</div>
									</div>
				    			</div> <!-- end panel body -->
				    		</div> <!-- end panel -->
			    		</div> <!-- end col -->
			    		
			    		<div class="col-md-7">
			    			<div class="panel" ng-show="displayMember">
			    				<div class="panel-heading avenue-heading">
			    					<span style="font-weight:bold">{{data.dsCurrentMember.name}}</span>
			    				</div>
			    				<div class="panel-body avenue-body">
			    					<img ng-show="displayMember" ng-src='{{data.dsCurrentMember.photo}}' align="left" HSPACE="5" VSPACE="5" width="40%">
			    					<div ng-show="displayMember">
			    						<br/><span class="avenue-yellow-text">Age: </span><span style="color:#D1CDCD">{{data.dsCurrentMember.age}}</span> <br/>
				    					<span class="avenue-yellow-text">Position: </span><span style="color:#D1CDCD">{{data.dsCurrentMember.position}}</span> <br/>
				    					<span class="avenue-yellow-text">Favourite Team: </span><span style="color:#D1CDCD">{{data.dsCurrentMember.favteam}}</span> <br/>
				    					<span class="avenue-yellow-text">Favourite Player: </span><span style="color:#D1CDCD">{{data.dsCurrentMember.favplayer}}</span><br/><br/>
				    					<span class="avenue-yellow-text">Personal Achievements:</span><br/>
				    						{{data.dsCurrentMember.achievements}}
			    					</div>

			    				</div>
			    			</div>
			    		</div>
			    		
			    	</div> <!-- end row -->
			    	
			    	<div class="row" ng-controller="trainingViewController">
			    		<div class="col-md-12">
		    				<button type="button" class="btn btn-warning btn-xs" ng-show="!viewTraining" ng-click="toggleTrainingView(data.dsCurrentTeam.id)">Show Training Records</button>
			    			<button type="button" class="btn btn-warning btn-xs" ng-show="viewTraining" ng-click="toggleTrainingView(data.dsCurrentTeam.id)">Hide Training Records</button>
			    			<div class="panel" ng-show="viewTraining">
				    			<div class="panel-heading avenue-heading">
				    				Squad Training Attendance:
				    				<button type="button" class="btn btn-warning btn-xs" ng-click="addTrainingSession(data.dsCurrentTeam.id)" style="cursor:pointer;float:right;" data-toggle="tooltip" data-placement="right" title="Add a Training Session">Plan Training Session</button>
				    			</div>
				    			<div class="panel-body avenue-body">
				    				<table st-table="rowCollection" class="table">
										<thead>
											<tr>
												<th>#</th>
												<th>Name</th>
												<th ng-repeat="session in sessionPlans">{{session.date}}</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="mem in data.dsTeamMembers track by $index">
												<td>{{$index+1}}</td>
												<td>{{mem.name}}</td>
												<td ng-repeat="rec in trainingPerMember[$index] track by $index">
													<span ng-if="rec.status"><i class="fa fa-check" data-toggle="tooltip"title="Present" ng-click="changeTrainingAttendence(sessionPlans[$index].sessionId,mem.id,rec.status)"></i></span>
													<span ng-if="!rec.status"><i class="fa fa-times" data-toggle="tooltip"title="Absent" ng-click="changeTrainingAttendence(sessionPlans[$index].sessionId,mem.id,rec.status)"></i></span>
												</td>
											</tr>
										</tbody>
									</table>
				    			</div> <!-- end panel body -->
				    		</div> <!-- end panel -->
			    		</div> <!-- end col -->	
			    	</div> <!-- end row -->
			    	
			    	<div class="row" ng-controller="teamPlanController">
			    		<div class="col-md-12">
			    			<button type="button" class="btn btn-warning btn-xs" ng-show="!viewTeamPlan" ng-click="toggleTeamPlanView(teamId)">Show Team Plan</button>
			    			<button type="button" class="btn btn-warning btn-xs" ng-show="viewTeamPlan" ng-click="toggleTeamPlanView(teamId)">Hide Team Plan</button>
			    			<div class="panel" ng-show="viewTeamPlan">
				    			<div class="panel-heading avenue-heading">
				    				Team Planner:
				    			</div>
				    			<div class="panel-body avenue-body">
				    				Put Picture of pitch here....
				    			</div> <!-- end panel body -->
				    		</div> <!-- end panel -->
			    		</div> <!-- end col -->			    		
			    	</div> <!-- end row -->
			    	
			</div> <!--  End of container t1 -->
		</div>

<!-- 		<i class="fa fa-check" data-toggle="tooltip"title="Present"></i>&nbsp;
		<i class="fa fa-times" data-toggle="tooltip"title="Absent"></i>&nbsp; -->
