		<div class="container">
			<div class="row">
				
				<div style="margin-left:auto;margin-right:auto;">
			 		<div class="panel" style="max-width:50%;marign-right:30%;margin-left:20%; height: auto;">
			 			<div class="panel-heading avenue-heading">
			 				Pick a news story to edit by clicking on the edit icon..
			 			</div>
			 			<div class="panel-body avenue-body">
							
							<div style="max-width:300px;">
									<form>
										<div class="form-group">
											<div class="input-group">
												<div class="input-group-addon"><i class="fa fa-search"></i></div>
												<input type="text" class="form-control" placeholder="Search" ng-model="searchStory">
											</div>      
										</div>
									</form>
								</div>
								<div>
									<div class="row solid-line">
										<div class="col-md-1 tblHdr">#</div>
									    <div class="col-md-3 tblHdr">Title</div>
									    <div class="col-md-6 tblHdr">Description</div>
									    <div class="col-md-2">Operations</div>
									</div> <!-- end of row -->
									<div ng-repeat="story in data.dsNewsStories | filter:searchStory" class="row light-line">
										<div class="col-md-1">{{$index+1}}</div>						    
							    		<div class="col-md-3">{{story.title}}</div>
										<div class="col-md-6">{{story.description}}</div>
										<div class="col-md-2">
									    	<i ng-click="editStory(story)" style="cursor:pointer;" data-toggle="tooltip" data-placement="right" title="Edit" class="glyphicon glyphicon-pencil" style="float:left;padding-left:10px;"> </i>&nbsp;
									    	<i ng-click="deleteStory(story)" style="cursor:pointer;" data-toggle="tooltip" data-placement="right" title="Delete" class="glyphicon glyphicon-trash" style="float:left;padding-left:10px;"></i>
									    </div>
								    </div> <!-- end row -->
								</div> <!-- end ng-show -->							
							
					 	</div> <!-- end panel body -->
			 		</div> <!-- end panel -->
			 	</div> <!-- end col -->
			 </div> <!-- end row -->
 		</div> <!-- end container -->
