	<div id="wrap">
			<div class="container t1">
				<div class="row">
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-heading avenue-heading">
								<i class="fa fa-bullhorn"></i> NOTICE BOARD:
							</div>
							<div class="panel-body avenue-body">
								<div class="row">
									<div style="margin:10px;">{{team.noticeboard}}</div>
								</div>
							</div>
						</div>
					</div> <!-- end col -->
				</div> <!-- end row -->
			    	<div class="row">
			    		<div class="col-md-5">
			    			<div class="panel">
				    			<div class="panel-heading avenue-heading">
				    				Team Details:
				    			</div>
				    			<div class="panel-body avenue-body">
				    				<table class="table table-condensed">
				    					<tr>
				    						<th>Managers:</th>
				    						<td>
					    						<div ng-repeat="mem in data.dsTeamMembers">
							    					<div ng-if="mem.position == 0">
							    						{{mem.name}}
							    						<div style="float:right;">
							    							<i class="fa fa-phone"></i> {{mem.phone}}
							    						</div> 
							    					</div>
							    					
							    				</div>
				    						</td>
				 						</tr>
				 						<tr>
				 							<th>Captian:</th>
				 							<td>
				 								<div ng-repeat="mem in data.dsTeamMembers">
							    					<div ng-if="mem.position == 99">{{mem.name}}</div>
							    				</div>
				 							</td>
				 						</tr>
				 					</table>
				    			</div>
				    		</div>
			    		</div> <!-- end col -->
			    		<div class="col-md-7" style="">
			    			<div class="panel">
				    			<div class="panel-heading avenue-heading">
				    				Table:
				    			</div>
				    			<div class="panel-body avenue-body">
				    			
				    				<lr-display></lr-display>

				    			</div>
				    		</div>
			    		</div> <!-- end col -->
			    	</div> <!-- end row -->
			    	
			    	<div class="row">
			    		<div class="col-md-5">
			    			<div class="panel">
				    			<div class="panel-heading avenue-heading">
				    				Squad Details:
				    			</div>
				    			<div class="panel-body avenue-body">
				    				<div ng-repeat="mem in data.dsTeamMembers">
				    					<div ng-if="mem.position != 0">
											<span ng-click="setCurrentMember(mem)" style="cursor:pointer;"><font color="white">{{$index+1}}: {{mem.name}}</font></span>
										</div>
									</div>
				    			</div> <!-- end panel body -->
				    		</div> <!-- end panel -->
			    		</div> <!-- end col -->
			    		
			    		<div class="col-md-7">
			    			<div class="panel" ng-show="displayMember">
			    				<div class="panel-heading avenue-heading">
			    					<span style="font-weight:bold">{{currentMember.name}}</span>
			    				</div>
			    				<div class="panel-body avenue-body">
			    					<img ng-show="displayMember" ng-src='{{currentMember.photo}}' align="left" HSPACE="5" VSPACE="5" width="40%">
			    					<div ng-show="displayMember">
			    						<br/><span class="avenue-yellow-text">Age: </span><span style="color:#D1CDCD">{{currentMember.age}}</span> <br/>
				    					<span class="avenue-yellow-text">Position: </span><span style="color:#D1CDCD">{{currentMember.position}}</span> <br/>
				    					<span class="avenue-yellow-text">Favourite Team: </span><span style="color:#D1CDCD">{{currentMember.favteam}}</span> <br/>
				    					<span class="avenue-yellow-text">Favourite Player: </span><span style="color:#D1CDCD">{{currentMember.favplayer}}</span><br/><br/>
				    					<span class="avenue-yellow-text">Personal Achievements:</span><br/>
				    						{{currentMember.achievements}}
			    					</div>

			    				</div>
			    			</div>
			    		</div>
			    		
			    	</div> <!-- end row -->
			    	
			</div> <!--  End of container t1 -->
		</div>
