html,
body
{
	background:url('../images/stadium1.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment:fixed;
	height:100%;
}
.header
{
	background-image: url('../images/smaller/banner.png');
	background-size: cover;
	min-height:110px;
	position:relative;
	margin-top:5px;
}
#footer {
  height: 30px;
  background-color: #ff0000;
  vertical-align: middle;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

.t1
{
	padding-left:0px;
	padding-right:0px;
}
.t2
{
	position:absolute;
	top:0px;
	left:0px;
	height:110px;
}
.t3
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding-left:10%;
	padding-top:10px;	
}

.centered {
  margin: auto;  
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}

.blankspace{
	min-height:50px;
}

.panel-heading-custom{
	background-image:none;
	background-color:red;
	color:white;
}




		<!-- Custom CSS -->

		.row div
		{
			border:1px solid #ccc;
			padding:5px;
		}
		.bgStyle1
		{
			background-color:lavender;
		}
		.bgStyle2
		{
			background-color:lavenderblush;
		}
		.bgStyle3
		{
			background-color:lightgoldenrodyellow;
		}
		.bgStyle4
		{
			background-color:lightgray;
		}
		.titleStyle
		{
			background-color:#6f5499;
			color:#fff;
			padding: 0 10px 10px 10px;
		}
		.tblHdr
		{
			background-color:#FCA605;
			color:#fff;
			font-weight:bold;
		}
		.teamHdr
		{
			background-color:#FC030F;
			color:#fff;
			font-weight:bold;
		}
		.thickLine
		{
			height:3px;
			background:lavenderblush;
			clear:both;
		}

